<h3>Hello {{ username }}!</h3>
<p>You have been invited to {{ host }}. To finish registration your account - please visit {{ confirmationUrl }}</p>
<p>This link can only be used once to registration your account.</p>
<p>Regards,
the Team.</p>