{% extends '@AppyfuriousAdminUser/base.html.twig' %}
{% trans_default_domain 'translation' %}

{% block title %}Admin | Check Email{% endblock %}

{% block body %}
<div class="admin-user-form-wrapper">
    <p>
        {{ 'resetting.check_email'|trans }}
    </p>
</div>
{% endblock %}
